:root {
    --primary-clr: #4A9DFF;
    --background-dark: #18212E;
    --background-light: #222F3C;
    --background-lighter: #273647;
    --font-clr: #fff;
    --padding-value: 30px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    color: var(--font-clr);
    /* For debugging */
    /* outline: 1px dashed red; */
}

/* Scroll Bar design */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--background-dark);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--background-light);
    border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--background-ligher);
}

body {
    min-height: 100vh;
    max-width: 100vw;
}

main {
    /* Use the height of the body */
    min-height: inherit;
    max-width: 100vw;
    background: var(--background-dark);
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    background: var(--background-light);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    padding-block: 30px;
    position: sticky;
    top: 0;
    height: 100vh;
}


.sidebar .nav-link img {
    filter: invert(1);
    height: 30px;
    aspect-ratio: 1 / 1;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-items {
    display: grid;
}

.nav-link {
    display: flex;
    gap: 20px;
    text-decoration: none;
    align-items: center;
    width: 100%;
    padding: 20px 30px;
    /* So the link don't shift on hover */
    border-left: 4px solid transparent;
}

.active,
.nav-link:hover {
    background: var(--background-lighter);
    border-left: 4px solid var(--primary-clr);
}

.title {
    text-align: center;
    font-size: 3rem;
    padding-block: 40px;
}

.title span {
    color: var(--primary-clr);
}

section.dashboard {
    padding: var(--padding-value);
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto auto 3fr 3fr;
    gap: 30px;
}

.header {
    display: grid;
    /* Might need to tweak this */
    grid-template-columns: auto 10fr 1fr auto;
    gap: 30px;
    place-items: center;
    grid-column: 1 / -1;
}

.header .bell-icon-wrapper img {
    height: 30px;
    filter: invert(1);
    aspect-ratio: 1 / 1;
}

.header .profile-icon {
    height: 50px;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    background: url("../assets/images/female2.jpg") no-repeat;
    background-position: bottom -10px left 0px;
    background-size: cover;
}

.hamburger-icon {
    height: 40px;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    justify-self: left;
}

.hamburger-icon div {
    height: 2px;
    width: 100%;
    background: white;
}

.hamburger-icon div:nth-child(3) {
    width: 70%;
}

.search {
    justify-self: stretch;
}

.header input {
    width: 100%;
    background: var(--background-light);
    border: none;
    font-size: 14px;
    padding: 18px 30px;
    border-radius: 50px;
    outline: none;
    font-weight: 400;
}

.toolbar {
    font-size: 1.8rem;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 4fr auto auto;
    align-content: center;
    gap: 20px;
}

.toolbar .greeting {
    font-weight: 200;
}

.toolbar .greeting-name {
    font-weight: 700;
}

.toolbar .greeting-handle {
    color: var(--primary-clr);
    padding-left: 20px;
}

.toolbar .btn {
    padding-block: 10px;
    width: 150px;
    border: none;
    background: var(--background-light);
    border-radius: 30px;
    justify-self: end;
    font-size: 14px;
    cursor: pointer;
}

.toolbar .new-project-btn {
    background: var(--primary-clr);
}

.feed {
    grid-row: 3 / 5;
    grid-column: 1 / 2;
}

.announcements,
.trending {
    background: var(--background-light);
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    gap: 20px;
}

.announcements {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

.a-card {
    background: var(--background-lighter);
    padding: 10px;
    border-radius: 8px;
}

.a-title {
    font-weight: normal;
}

.a-card small {
    opacity: 40%;
}

.trending {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    overflow: auto;
    height: 100%;
}

.t-card {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    column-gap: 20px;
}

.pic1 {
    background: url("../assets/images/male1.jpg");
}

.pic2 {
    background: url("../assets/images/male2.jpg");
}

.pic3 {
    background: url("../assets/images/female1.jpg");
}

.pic4 {
    background: url("../assets/images/male3.jpg");
}

.t-picture {
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    background-size: cover;
    background-position: center;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
}


.t-card .t-name,
.t-handle {
    grid-column: 2 / 3;
}

.t-handle {
    color: var(--primary-clr);
}

.t-name {
    font-weight: 100;
    opacity: 50%;
}


.feed {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: max-content;
    grid-auto-rows: max-content;
    gap: 20px;
}

.project-card {
    display: grid;
    align-items: center;
    padding: 20px;
    background: var(--background-light);
    border-radius: 8px;
    gap: 20px;
    border-left: 8px solid var(--primary-clr);
    cursor: pointer;
}

.project-title {
    font-weight: 700;
    font-size: 1.2rem;
}

.project-description {
    font-weight: 100;
    font-size: .9rem;
}

.project-card img {
    height: 20px;
}

.action-bar {
    display: flex;
    justify-content: end;
    gap: 20px;
    filter: invert();
}